.button {
  padding: 10px 17px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.25s ease;

  &:hover {
    background-color: var(--black);
    color: var(--white);
  }

  &:disabled {
    pointer-events: none;
    color: var(--grey-element);
  }
}
