.wrapper {
  font-size: 4px;

  &:hover .svg_background {
    fill: var(--black);
  }

  &:hover .svg_color {
    fill: var(--white);
  }
}

.svg_background, .svg_color {
  transition: fill 0.25s ease;
}

.wrapper_fromBlackToWhite {
  font-size: 4px;

  &:hover .svg_background {
    fill: var(--white);
  }

  &:hover .svg_color {
    fill: var(--black);
  }
}