:root {
  --black: #222937;
  --blue: #2864A4;
  --grey-background: #FAFAFD;
  --grey-element: #F0F1F6;
  --white: #FFFFFF;

  --accent-shadow: 0px 0px 40px 1px #F2F2F8;

  --popup-background: rgba(10, 22, 34, 0.75);
}