.wrapper {
  position: relative;

  &:hover > .details {
    display: block;
  }
}

.input {
  margin: 0 0 10px;
  cursor: pointer;
  background-color: var(--white);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid var(--grey-element);
  border-radius: 0;
  transition: all 0.25s ease;

  &[disabled] {
    padding-right: 60px;
  }

  &__wrapper {
    width: 100%;
  }
}

.details {
  padding: 2px 5px 10px 5px;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 18px;
  display: none;
  font-size: 20px;
}

.dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 1000;
}

.wrapper, .details, .dropdown {
  &:hover .input {
    border: 1.6px solid var(--blue);
    border-radius: 5px;
  }
}