.wrapper {
  position: relative;

  &:hover > .details {
    display: block;
  }
}

.input {
  background-color: transparent;
  margin: 0 0 10px;
}

.details {
  padding: 2px 5px 10px 5px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 18px;
  display: none;
  font-size: 20px;
}

.dropdown {
  position: absolute;
  top: 48px;
  right: 0;
  z-index: 1000;
}
